bin/
.classpath
.project
.cproject
.vscode/*
!.vscode/cpp.code-snippets
!.vscode/settings.json
*.iml
venv/
test/
cmake-build-debug
Debug/
.idea/*
!.idea/codeStyles
!.idea/fileTemplates
draft/
input.txt
output.txt
.stack-work
*.in
*.out
